.section {
    padding-top: 60px;
    background-image: url("../../../img/gewjotslandingimg.jpeg");
    font-family: InaiMathi;
}


.landingheading{
    color: #E55742;
    font-size: 4.5rem;
    margin-top: 27%;
    margin-bottom: -5px;
}

.landingSlogan{
    font-size: 2rem;
    color:#2F2B2B;
    opacity: 0.77;
}

.LearnMoreButton{
    width:140px;
    border: 1px solid #979797;
    border-radius: 12px;
    margin-right: 17px;
    padding: 4px; 
    background: none;
}

.SignUpButton{
    width:140px;
    border: 1px solid #979797;
    border-radius: 12px;
    padding: 4px;
    background: none;
    
}

.LearnMoreButton:hover, .SignUpButton:hover{
    color:#5FAD56;
}


.aboutUsHeading{
    color: #E55742;
    margin-top:15%;
    margin-bottom: 5%;
}

.aboutUsContent{
    width:500px;
    text-align: center;
}

.aboutUsButton{
    width:140px;
    border: 1px solid #979797;
    border-radius: 12px;
    margin-top: 8%;
    padding: 4px;
    background: none;  
}

.aboutUsGraphicDiv{
    background-color: #588B8B;
}

